 @{
    ViewData["Title"] = Model.Name;
} 
@model Database

<div class="v-content">
    <div class="doc">
        <div class="sticky-header">
            <h1 class="doc-header">
                <i class="icon2x-database"></i>

                @Model.Name
            </h1>
        </div>
        <table class="doc-summary">
            <tr>
                <th class="doc-summary-field">
                    Host
                </th>
                <td class="doc-summary-value">
                    <span class="v-item">
                        <span>@Model.Host</span>
                    </span>
                </td>
            </tr>
            <tr>
                <th class="doc-summary-field">
                    Database
                </th>
                <td class="doc-summary-value">
                    <span class="v-item">
                        <span>
                            @Model.Name
                        </span>
                    </span>
                </td>
            </tr>
            <tr>
                <th class="doc-summary-field">
                    DBMS
                </th>
                <td class="doc-summary-value">
                    <span class="v-item">
                        <span>SQL Server</span>
                    </span>
                </td>
            </tr>
        </table>
        <div class="doc-description">
            <p>@Model.Description</p>
        </div>
        <div class="doc-section">
            <h2 class="doc-section-header">
                Modules
            </h2>
            <ul class="doc-list">
                @foreach (var module in Model.Modules)
                {
                    <li>
                        <span>
                            <a href="#">
                                @module
                            </a>
                        </span>
                    </li>
                }
            </ul>
        </div>
        <div class="doc-section">
            <h2 class="doc-section-header">
                Database Objects
            </h2>
            <ul class="doc-list">
                <li>
                    <span>
                        <a href="#">
                            Tables
                        </a>
                    </span>
                    <span class="v-obj-count">(@Model.TablesCount)</span>
                </li>

                <li>
                    <span>
                        <a href="#">
                            Views
                        </a>
                    </span>
                    <span class="v-obj-count">(@Model.ViewsCount)</span>
                </li>

                <li>
                    <span>
                        <a href="#">
                            Procedures
                        </a>
                    </span>
                    <span class="v-obj-count">(@Model.ProceduresCount)</span>
                </li>

                <li>
                    <span>
                        <a href="#">
                            Functions
                        </a>
                    </span>
                    <span class="v-obj-count">(@Model.FunctionsCount)</span>
                </li>
            </ul>
        </div>

        @await Html.PartialAsync("_Tables", Model)
    </div>
</div>